#form {
    margin: 1.25em auto;
    padding: 1.25em;
    background-color: antiquewhite;
    border-radius: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

label {
    display: block;
    margin: bottom;
    color: #333;
}